@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Aplicacion_Banco.Models.Prestamo;
@{
    decimal? interes = Model.IdDuracionNavigation.Interes;
    decimal? porcentajeInteres = interes * 100;
    string porcentajeInteresStr = porcentajeInteres?.ToString("0.00");


    int diasPrestamo = Model.IdDuracionNavigation.Duracion1 ?? 0;
    decimal monto = Model.IdMontoNavigation.Valor ?? 0;


    decimal montoTotalConIntereses = 0;

    if (interes != null && diasPrestamo != 0)
    {

        decimal interesPorcentaje = 0;
        switch (diasPrestamo)
        {
            case 15:
                interesPorcentaje = 0.050m;
                break;
            case 20:
                interesPorcentaje = 0.066m;
                break;
            case 25:
                interesPorcentaje = 0.083m;
                break;
            case 30:
                interesPorcentaje = 0.100m;
                break;
            case 35:
                interesPorcentaje = 0.116m;
                break;

        }


        montoTotalConIntereses = Math.Round((monto * (1 + interesPorcentaje) * (diasPrestamo / 30m)), 2) + monto;
    }
}


<a class="mt-5 text-primary nav-link" asp-area="" asp-controller="Prestatario" asp-action="Index">Volver</a>

<div class="card mt-2">
    <div class="card-header">
        Sr. @Model.IdPrestatarioNavigation.Nombre tiene una tasa de @porcentajeInteres % en @Model.IdDuracionNavigation.Duracion1 dias
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <p>Monto: </p>
            <p>@Model.IdMontoNavigation.Valor</p>
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <p>Fecha inicio: </p>
            <p>@Model.FechaInicio</p>
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <p>Fecha fin: </p>
            <p>@Model.FechaFin</p>
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <p>Días: </p>
            <p>@Model.IdDuracionNavigation.Duracion1 días</p>
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <p>Pago diario: </p>
            <p>@Model.PagoDiario soles</p>
        </div>
    </div>
</div>